@import 'vars';
*{
    padding: 0;
    margin: 0;    
}
body{
    font-family: 'Lato', sans-serif; 
        
}
a{
    text-decoration: none;
    
}
.center{
    padding-left: calc(50% - $widhtSite/2);
    padding-right: calc(50% - $widhtSite/2);
}
.container{
    /* width: 1140px;
    margin: 0 auto; */
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #222;
}
.left-nav{
    display: flex;
    /* justify-content: ; */
    padding-top: 18px;    
    padding-left: 15px;
    align-items: flex-end;
    padding-bottom: 20px;
}
.search{
margin-left: 41px;
}
.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
    padding-bottom:15px;
    padding-right: 15px;
    gap: 25px;
}

ul{
    list-style: none;
}

// .show-menu-link{
//     display: none;
//     position: absolute;
//     /* right: calc(50% - 750px); */
//     background-color: #f1f1f1;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
//     z-index: 1;    
// }
// .show-menu:hover .show-menu-link {
//     display: block;    
// }
.menu-title{
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 24px;
}
.menu-subtitle{
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 11px;
    margin-left: 32px;
}

.menu-text{
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 11px;
    margin-left: 53px;
}
.show-menu{
    position: relative;
}

#burger{
    position: absolute;
    left: -999999999999999px;
    visibility: hidden;

    &:checked ~ .nav-bergermenu{
        // display: none;
        right: -$widthBurgerMenu;
        display: block;
    }
}
.nav-bergermenu{
    display: none;
    background-color: #fff;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    width: $widthBurgerMenu;
    // padding: 32px;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    top: 48px;
    // right: -500px;
    // transition: right .5s;;
}
.menu-text:hover{
    color: $colorSelectSite;
}


.footer-nav{
    display: flex;
    justify-content: center;
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #222224;
}
.footer-item{    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-title{
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    margin-bottom: 16px;
}
.footer-text{
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.footer-info{ 
    display: flex;    
    justify-content: space-between;
    background-image: url(img/photo\ subscribe.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo{
    width: 96px;
    margin-top: 97px;
    margin-bottom: 30px;

}
.subscribe{
    margin-top: 150px;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%; /* 40.128px */
}
.subscribe-text{
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;  
    margin-bottom: 39px;  
}
.footer-left-text{
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 359px;
    text-align: center
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 162px;
}

.text-field__group {
    display: flex;
}
  /* кнопка */
.text-field__btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #E05C6E;
    border: 0px solid #E05C6E;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 50px;
    transition: background-color .5s ease-in-out;
}
.text-field__btn:hover {
    /* background-color: #bdbdbd; */
    color: black;
}
.text-field__group .text-field__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    z-index: 2;
    background-color: #E1E1E1;
    padding: 16px 22px;
    border: none;
}
.text-field__group .text-field__btn {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    padding: 16px 22px;
}
.footer-bottom{
    display: flex;    
    justify-content: space-around;
    background-color: #222224;
    align-items: center;
}
.footer-bottom-logo{
    display: flex;
}
.footer-bottom-text{
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button-logo{
    width: 32px;
    height: 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}
.button-logo:hover{
    background-color: #F26376;
    transition: all 0.5s;
    
}
.button-logo:hover path{
    fill: white;
}

@media(max-width: 768px){
    .footer-nav{
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
        margin-top: 28px;
    }
    .footer-text{
        width: 360px;
        margin-bottom: 48px;
    }
    .footer-info{
        flex-direction: column;
        padding-top: 64px;
    }
    .footer-left{
        margin-bottom: 48px;
    }
}

@media(max-width: 767px){
    .container{
        max-width: 343px;
        /* margin: 0 auto; */
        /* padding-left: 15px;
        padding-right: 15px; */
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);    
    }
    .lk{
        display: none;
    }
    .cart{
        display: none;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .footer-bottom-logo{
        order: -1;
        margin-top: 43px;
        margin-bottom: 40px;
    }
    .footer-bottom-text{
        margin-bottom: 9px;
    }
}

 @media(max-width: 320px){
        .container{
            max-width: 315px;
            /* margin: 0 auto; */
            /* padding-left: 15px;
            padding-right: 15px; */
            padding-left: calc(50% - 157px);
            padding-right: calc(50% - 157px);
        } 
        .lk{
            display: none;
        }
        .cart{
            display: none;
        }
        .footer-text{
            width: 315px;
            
        }
        .footer-left-text{
            width: 315px;
        }
}